* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: odinFont;
    src: url(../font/Norse-Bold.otf);
}

body {
    display: flex;
    width: 100vw;
    flex-wrap: nowrap;
    background-color: rgba(190, 205, 209, 0.171);
}

.left-side {
    display: flex;

    width: max(400px, 40%);
    height: clamp(900px, 100vh, 1400px);

    background-image: url("../img/photo-1585202900225-6d3ac20a6962.jpg");
    background-size: cover;
    
}

#logo-div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30%;
    height: clamp(150px, 12vh, 250px);
    width: auto;

    background-color: rgba(0,0,0,0.50);

    font-family: odinFont;
    font-size: 90px;

    color: white;
}



/* Below is for the right side */

.right-side {
    display: flex;
    flex-direction: column;
    width: clamp(850px, 100%, 3000px); 
   
    height: 100vh;
}

.right-side-info-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*background-color: rgba(0,0,0,0.15);*/
  
    /* height: min(400px, 35%); */
    height: clamp(250px, 35%, 600px);
    width: clamp(700px, 100%, 1400px);
    /* width: 100%; */
    /* width: clamp(px, 100%, 2460px); */
    
    line-height: 2.1rem;


}

/* Just to keep things in a tighter box */
.text-constrain {
    margin-left: 7%;
    margin-right: 30%;
    font-family: Arial, Helvetica, sans-serif;
    
}

.right-side-info-header p {
    font-size: 30px;
    font-size: clamp(1rem, 3vw, 2rem);
    font-weight: bold;


    margin-top: min(30px, 10%);
    margin-bottom: min(30px, 10%);
}

/* Main Content starts here (form) */


.right-side-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    height: clamp(390px, 42%, 420px);
    width: clamp(850px, 100%, 3000px);

    background-color: white;

    box-shadow: 12px 12px 12px rgba(0,0,0,0.30);

    padding: 20px;
}

.right-side-main-content h1 {
    font-family:Arial, Helvetica, sans-serif;
    
    align-self: flex-start;
    
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 2%;
}

.right-side-main-content p {
    align-self: flex-start;

    font-size: 1.5rem;
    font-family:Arial, Helvetica, sans-serif;

    margin-top: 3%;
    margin-left: 5%;
}

.right-side-main-content a {
    text-decoration: none;
}

form {
    display: flex;
    flex-wrap: wrap;
    
    align-self: flex-start;
    
    margin-left: 5%;
    gap: 20px;
    
    width: clamp(550px, 80%, 900px);

}

.label-input {
    display: flex;
    flex-direction: column;

    width: clamp(300px, 20vw, 300px);
    height: 7%;
    
    gap: 4px;

    color: red;

}



.label-input label,
.label-input input{
    color: rgba(0,0,0,0.90);
    flex: 1;
}

.label-input label {
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    
}

.label-input input {
    font-size: 1.5rem;
    padding: 0.5rem;

    border-radius: 4px;
    
}

.label-input input:hover {
    border-color: rgb(50, 193, 241);
    box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.10);
}

.label-input input:required:invalid {
    border-color: red;
   
}

#error {
    position: absolute;
    left: 6.5%;
    top: 91.5%;
}

button[type="submit"] {
    background-color: #596D48;
    color: white;

    font-size: 1.5rem;
    
    border-radius: 8px;
    
    margin-left: 5%;
    margin-top: 70px;
    padding: 12px 48px;

    align-self: flex-start;


}